h1 Signup
  form(action='/signup', method='post')
      label(for='name') Username 
      input(name='name', type='text')
      label(for='email') Email
      input(name='email', type='text')  
      label(for='password') Create Password  
      input(name='password', type='password')  
      input(type='submit')
