extends ./layout

block body
  h1 Style tests

  .row
    .col.s12.m4.l4 Thingie
      a.waves-effect.waves-light.btn Yup
    .col.s12.m4.l4 Yours
    .col.s12.m4.l4 Cats

  .row
    .col.s12.m4
      .card.blue-grey.darken-1
        .card-content.white-text
          span.card-title Card Title
          p Yo, sup people? Card here.
        .card-action
          a(href='#') Other Link
          a(href='#') Link